*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(16, 15, 15);
}

.content{
  color: aliceblue;
  text-align: center;
}

.onscreen{
  color: aliceblue;
  margin-top: 3rem;
  font-weight: bolder;
  font-size: 2rem;
}

.box-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  transition: 5s;
}

.box-1 :hover{
  cursor: pointer;
  background-color: rgb(231, 228, 225);
  transform: scale(1.3);
  z-index: 2;

}

.upcoming {
  color: aliceblue;
  margin-top: 3rem;
  font-weight: bolder;
  font-size: 2rem;
}

.box-2 {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  transition: 1s;
}

.box-2 :hover {
  cursor: pointer;
  background-color: rgb(231, 228, 225);
  transform: scale(1.3);
    z-index: 2;

}